{% extends 'layout/base.html.twig' %}

{% block content %}

<article class="entry pb-20 {{ post.class }} single">

	{# Begin Page Header #}
	{% include 'partials/simple-header.html.twig' %}

	<div class="container mb-8">
		<div class="row">
			<div class="col-12 d-flex align-items-center justify-content-center">
				<span class="news-entry-date">{{ post.date|date('d M Y') }}</span>
			</div>
		</div>
	</div>
	{# End Page Header #}

	<section>
		<div class="container-fluid">
			<div class="row">
				{% if post.thumbnail %}
					<div class="col-12">
						<div class="alignfull">
							<img class="article-hero" src="{{ post.thumbnail.src('cropped_hero') }}" alt="{{ post.thumbnail.alt | default(post.id ? post.title : '') }}">
						</div>
					</div>
				{% endif %}
				<div class="col-12 mb-12 entry-content">
					<ul class="event-meta">
						<li class="event-meta-item">
							<div class="event-meta-label">Date</div>
							<div class="event-meta-value">{{ date|date('l, j F o') }} {{ end_date ? '- ' ~ end_date|date('l, j F o') }}</div>
						</li>
						<li class="event-meta-item">
							<div class="event-meta-label">Time</div>
							<div class="event-meta-value">
								{{ time|date('gA') }}
								{{ end ? '- ' ~ end|date('gA') }}
							</div>
						</li>
						<li class="event-meta-item">
							<div class="event-meta-label">Location</div>
							<div class="event-meta-value">{{ location }}</div>
						</li>

						{% for item in meta %}
							<li class="event-meta-item">
								<div class="event-meta-label">{{ item.label }}</div>
								<div class="event-meta-value">{{ item.data }}</div>
							</li>
						{% endfor %}
					</ul>

					{{ post.content }}
					{% include 'partials/related-posts.html.twig' %}
				</div>
			</div>
		</div>
	</section>

</article>
{% endblock %}
