<article class="entry-tease {{ post.class }}{% if loop.index < loop.length %} mb-8{% endif %}">

    <div class="row">
        <div class="col-4">
            <img src="{{ post.thumbnail.src('medium') }}" alt="{{ post.thumbnail.alt | default(post.title) }}">
        </div>

        <div class="col-8">
            <h2 class="entry-tease-heading">{{ post.title }}</h2>
            <div class="entry-tease-byline">
                <span class="entry-tease-author">{{ post.author.name }} </span>
                <span class="entry-tease-date">{{ post.date }}</span>
            </div> 
            
            <p class="entry-tease-excerpt">{{ post.preview }}</p>

            <a class="btn btn-primary" href="{{ post.link }}">{{ __('Read More') }}</a>
        </div>
    </div>
</article>