{% set columns = 3 %}
{% set column_width = 100 / columns %}

{% if dates %}

	<table class="buzz-dates" cellpadding="0" cellspacing="20" width="640">

		{% for col in dates %}
			<tr>
				<td>Test</td>
				{# {% for key, collection in col %}
					<td class="date-wrapper" valign="top" width="{{column_width}}%">

						<table cellspacing="0" cellpadding="0" width="100%">
							{% if show_dates %}
								<tr>
									<td class="date">{{collection.date | strftime(format) }}</td>
								</tr>
							{% endif %}
							{% for date in collection.items %}
								<tr class="date-item {% if date.description %} has-description {% endif %}">
									<td class="title">
										{% if date.url %}<a class="link" target="_blank" href="{{date.url}}">{% endif %}
										{{date.title}}
										{% if date.url %}</a>{% endif %}
									</td>
								</tr>
								{% if date.description %}
									<tr>
										<td class="description">{{date.description | nl2br}}</td>
									</tr>
								{% endif %}
							{% endfor %}
						</table> #}

			</tr>
		{% endfor %}

	</table>

{% endif %}