<table cellpadding="0" cellspacing="0" width="100%">

	{% if has_thumb %}
		<tr>
			<td class="image" valign="top">
				{% set image = post.thumbnail %}
				{% set width = newsletter.thumbnail.sizes['email-article-large'].width %}
				{% set height = newsletter.thumbnail.sizes['email-article-large'].height %}

				<a href="{{ post.link }}">
					<img src="{{ image.src( 'email-article-large' ) }}" width="{{width}}" height="{{height}}" alt="{{ image.alt | default( post.title ) | escape }}">
				</a>
			</td>
		</tr>
	{% endif %}

	<tr>
		<td class="text {% if config.text_padding %} text-padding {% endif %}" valign="top">
			<h2 class="post-title"><a href="{{ post.link }}" class="title__link">{{ post.title }}</a></h2>
			{% include 'email/partials/excerpt.html.twig' %}
		</td>
	</tr>

</table>