{# Begin rendering the menu items #}
{% macro render(menu) %}
    {% import _self as nav %}

    {% for item in menu %}
        <div class="col-6 col-xl-4">
            {{ nav.item(item) }}
        </div>
    {% endfor %}
{% endmacro %}

{# Render the LI element #}
{% macro item(item) %}
    {% import _self as nav %}

    <li class="nav-item {{ item.class }}{% if item.get_children %} dropdown{% endif %}{% if item.current %} active{% endif %}">
        {{ nav.link(item) }}
        
        {% if item.get_children %}
            {{ nav.dropdown(item) }}
        {% endif %}
    </li>
{% endmacro %}

{# Render the A element #}
{% macro link(item) %}
    {% import _self as nav %}
    {% if item.current_item_parent == false %}
    <a class="nav-link" href="{{ item.link }}">
    {% else %}
    <a class="nav-link{% if item.get_children %} dropdown-toggle{% endif %}" {% if item.get_children %} href="#dropdown-{{ item.id }}" role="button" data-bs-toggle="collapse" aria-controls="dropdown-{{ item.id }}" aria-expanded="false"{% else %}href="{{ item.link }}"{% endif %}>
    {% endif %}
        <span>{{ item.title }}</span>
        {% if item.current %}
            <span class="sr-only">(current)</span>    
        {% endif %}
    </a>
{% endmacro %}

{# Recursively render the dropdown menu #}
{% macro dropdown(menu) %}
    {% import _self as nav %}
    
    <div class="collapse multi-collapse dropdown-collapse {{ menu.level == 1 ? 'show' }}" id="dropdown-{{ menu.id }}">
        {% for item in menu.get_children %}
            <a class="dropdown-item{% if item.get_children %} dropdown-toggle{% endif %}" {% if item.get_children %}  href="#dropdown-{{ item.id }}" role="button" data-bs-toggle="collapse" aria-controls="dropdown-{{ item.id }}" aria-expanded="false"{% else %}href="{{ item.link }}"{% endif %}>
                <span>{{ item.title }}</span>
                {% if item.current %}
                    <span class="sr-only">(current)</span>    
                {% endif %}
            </a>
            {% if item.get_children %}
                {{ nav.dropdown(item) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}