<section class="sidebar-nav">

	{% if sidebar.title %}
		<h3 class="sidebar-title sidebar-nav-title">{{ sidebar.title }}</h3>
	{% endif %}

	<ul class="sidebar-nav-list">

		{# Featured Articles #}
		{% for article in sidebar.articles.featured %}
			{% set current = article.id == post.id ? 'current' : '' %}
			<li class="sidebar-nav-list-item {{article.is_featured}} {{current}}">
				<a class="sidebar-nav-list-link fancy-link" href="{{article.link}}">{{article.title}}</a>
			</li>
		{% endfor %}

		{# Index Articles #}
		{% for category in sidebar.articles.index %}
			{% if category.posts %}
				{# Don't show section title if only one or fewer categories #}
				{% if loop.length > 1 and  category.name %}
					<li><h4 class="sidebar-title sidebar-nav-list-category">{{ category.name }}</h4></li>
				{% endif %}

				{% for article in category.posts %}
					{% set current = article.id == post.id ? 'current' : '' %}
					<li class="sidebar-nav-list-item {{article.is_featured}} {{current}}">
						<a class="sidebar-nav-list-link fancy-link" href="{{article.link}}">{{article.title}}</a>
					</li>
				{% endfor %}
			{% endif %}
		{% endfor %}

	</ul>
</section>

{# Widget area between featured and index articles #}
{% if widgets.sidebar %}
	{{widgets.sidebar}}
{% endif %}