{# categorised articles #}
{% if group_by_category %}
	{% for category in articles %}

		{% if category.posts|length > 0 %}
			{% if category.name %}
				<li class="nav-item">
					<a class="nav-link nav-category-title" data-bs-toggle="collapse" href="#cat-{{ category.slug }}" role="button" aria-expanded="{{is_current_cat ? 'true' : 'false'}}">
						{{ category.name }}
					</a>
				</li>
				<div class="collapse {{ is_current_cat ? 'show' : '' }}" id="cat-{{ category.slug }}" data-bs-parent="#navbar-article-menu-items">
					{% for item in category.posts %}
						<li class="nav-item">
							<a class="nav-link {{ item.classes | join(' ') }} {{item.ID == post.id ? 'current' : ''}}" href="{{ item.link }}">{{ item.post_title }}</a>
						</li>
					{% endfor %}
				</div>
			{% else %}
				{% for item in category.posts %}
					<li class="nav-item">
						<a class="nav-link {{ item.classes | join(' ') }} {{item.ID == post.id ? 'current' : ''}}" href="{{ item.link }}">{{ item.post_title }}</a>
					</li>
				{% endfor %}
			{% endif %}
		{% endif %}

	{% endfor %}

	{# uncategorised articles #}
{% else %}
	{% for item in articles %}
		<li class="nav-item">
			<a class="nav-link {{ item.classes | join(' ') }} {{item.ID == post.id ? 'current' : ''}}" href="{{ item.link }}">{{ item.post_title }}</a>
		</li>
	{% endfor %}
{% endif %}
